/* ==========================================================================
   header / components
   ========================================================================== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: var(--spacing-nm) 0;

    .grid-center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

.header__toggle {
    --bar-width: 24px;
    --bar-height: 3px;
    --bar-spacer: 3px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    padding: 0;
    position: relative;
    width: var(--bar-width);
    height: var(--bar-width);
    z-index: 10;

    span {
        background: var(--color-primary);
        opacity: 0.8;
        border-radius: 3px;
        display: block;
        height: var(--bar-height);
        width: var(--bar-width);
        position: absolute;
        top: calc(50% - var(--bar-height) / 2);
        left: calc(50% - var(--bar-width) / 2);

        transition: 0.3s all;

        &:nth-child(1) {
            top: calc(
                50% - var(--bar-height) / 2 - var(--bar-height) -
                    var(--bar-spacer)
            );
        }
        &:nth-child(3) {
            top: calc(
                50% - var(--bar-height) / 2 + var(--bar-height) +
                    var(--bar-spacer)
            );
        }
    }

    .nav-is-active & {
        span {
            top: calc(50% - var(--bar-height) / 2);
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: scaleX(0);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    // @media screen and (min-width: $breakpoint-md) {
    //     display: none;
    // }
}

.header__brand {
    // max-width: 50%;
    flex-grow: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.4);
    transition: all 0.3s $ease-out-quad;

    transform-origin: center center;
    img {
        display: block;
    }
    .header-is-hidden.is-scrolling-down & {
        transform: translate(-50%, -50%) scale(0.4);
        transition: all 0.3s $ease-out-quad;
    }
}
.front-page .header__brand {
    transform: translate(-50%, -20%) scale(1);
    transition: all 0.5s $ease-out-back;
}
