/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    font-family: var(--font-secondary);
    @include fluid-type(14px, 26px);
    color: var(--color-white);
    line-height: 1.4;
    background: var(--color-white);
}

.site-container {
    overflow: hidden;
}
