/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #333;
    --color-gray: rgba(0, 0, 0, 0.6);
    --color-lightblue: #e6ebee;

    // Couleurs du projet
    --color-primary: #003352;
    --color-primary-light: #0b3c5a;
    --color-secondary: #00ae86;
    --color-secondary-dark: #067658;

    --color-tertiary: #0094c5;
    --color-quaternary: #ca3562;
    --color-quinary: #f79c3a;
    --color-senary: #ee522f;

    --color-facebook: #003352;
    --color-linkedin: #00ae86;
    --color-instagram: #ee522f;
}
