/* ==========================================================================
   grid / settings
   ========================================================================== */
.grid {
    display: grid;
    //  @include fluid-type(10px, 40px);
    &-7 {
        grid-template-columns: repeat(7, 1fr);
        gap: 1em;
    }
    &-5 {
        grid-template-columns: repeat(5, 1fr);
        gap: 3em 1em;
        @media screen and (max-width: $breakpoint-lg) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &-4 {
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }
    &-3 {
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
    &-2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}

@media screen and (max-width: $breakpoint-lg) {
    .grid {
        &-4 {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media screen and (max-width: $breakpoint-md) {
    .grid {
        &-4 {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media screen and (max-width: $breakpoint-sm) {
    .grid {
        &-4 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
